body html {
    background-color: #DBFFFD;
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Raleway', sans-serif;
}
.navbar {
    transition: opacity 0.25s ease-in;
}
#main {
    height: 1000px;
    width: 100%;
    top: 10%;
    position: relative;
    float: left;
}
.container {
    position: relative;
    margin-top: 5%;
}
p {
    text-align: center;
}
.navbar-brand {
    transition: color 0.25s ease-in;
}
a {
    text-decoration: none;
    color: mediumaquamarine;
}
a:hover {
    color: tomato;
}
#text {
    text-align: center;
    padding: 6% 35%;
}
#popup {
    width: 100%;
    height: 6%;
    position: absolute;
    top: 10%;
    left: 0;
    display: none;
}
button {
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border: solid 1px white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width: 37%;
    margin: 5% 5%;
}
#add {
    width: 60%;
    margin: 10% 20%;
}
#done {
    float: left;
}
#hide {
    float: right
}
#commentText {
    font-family: Raleway, sans-serif;
    margin: auto;
}